body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	background: #ff6e7f;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ff6e7f, #bfe9ff);
background: -o-linear-gradient(to right, #ff6e7f, #bfe9ff);
background: linear-gradient(to right, #ff6e7f, #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container{
	
	width: 360px;
	/*margin: 100px auto;*/
	background: #f5dfe7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1{
	background: #b50746;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus{
	float: right;
	
}



ul{
	list-style: none;
	margin: 0;
	padding: 0;
	border: 2px solid #b50746;
}

li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #2e2a2b;
	padding: 0 0 0 13px;


}

li:nth-child(2n){
	background: #f5dfe7;
}

span {
	background: #b50746; 
	height: 40px;
	color: white;  
	text-align: center;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
	float: right;
	
}

li:hover span{
	width: 40px;
	opacity: 1;
	
}


input{
	font-size: 18px;
	background-color: #f5dfe7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color:  #b50746;
	border: 2px solid #b50746;
}

input:focus{
	background-color: #fff;
	border: 3px solid #b50746;
	outline: none;
}
.completed{
	color: gray;
	text-decoration: line-through;
}